// Colors
// --------------------------------------------------
$base-color   : #222;
$body-color   : #e8e8e8;
$text-color   : #222;
$comp-color   : adjust_hue($base-color, 180);
$border-color : lighten($base-color,60);
$white        : #fff;
$black        : #000;
$link-color   : #222;

$primary      : $base-color;
$success      : #5cb85c;
$warning      : #dd8338;
$danger       : #C64537;
$info         : #308cbc;


// Typography
// --------------------------------------------------

$google-fonts: Lato, Bitter, "Nova Flat", "PT Serif";
$local-fonts: "Rothenburg Decorative";
$local-font-files: '/theme/fonts/rothenbg.woff';
$splash-font: "Rothenburg Decorative";
$base-font: 'PT Serif', 'Bitter', 'Hoefler Text', serif;
$heading-font: 'Lato', 'Futura', 'Nova Flat', 'Helvetica', sans-serif;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 15;
$doc-line-height: 26;


// MEDIA QUERIES
// --------------------------------------------------
$small:       "only screen and (min-width: 30em)";
$medium:      "only screen and (min-width: 48em)";
$large:       "only screen and (min-width: 62.5em)";
//$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
//              "only screen and (-o-min-device-pixel-ratio: 3/2)",
//              "only screen and (min-resolution: 144dpi)",
//              "only screen and (min-resolution: 1.5dppx)";
