<!-- http://moz.com/blog/meta-data-templates-123 -->

{# Removed as Open Graph suffices
<!-- Schema.org markup for Google+. -->
<meta itemprop="name" content="{{article.title}}">
<meta itemprop="description" content="{{article.summary}}">
<meta itemprop="image" content={{AVATAR}}>
#}

{% if TWITTER %}
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<!-- <meta name="twitter:site" content="@publisher_handle"> -->
<meta name="twitter:title" content="{{article.title}}">
<meta name="twitter:description" content="{{article.summary}}">
<meta name="twitter:creator" content={{"@" + TWITTER}}>

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content={{AVATAR}} >
{% endif %}

<!-- Open Graph data -->
<meta property="og:title" content="{{article.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{SITEURL + '/' + article.url}}" />
<meta property="og:image" content="{{AVATAR}}" />
{% if article.summary %}
<meta property="og:description" content="{{article.summary|striptags}}" />
{% endif %}
<meta property="article:published_time" content="{{article.date}}" />
{% if article.modified %}
<meta property="article:modified_time" content="{{article.modified}}" />
{% endif %}
{% if article.tags %}
<meta property="article:tag" content="{{article.tags}}" />
{% endif %}
{# Note sure what to do with these so I omitted them
<meta property="article:section" content="Article Section" /> 
<meta property="fb:admins" content="Facebook numeric ID" />
#}